:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6C6C80;
}

* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	outline-color: var(--primary-color);
}

body {
  background: #F0F0F5;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
	outline-width: 1px;
}

button,
a {
	transition: all .3s;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}
